@font-face {
    font-family: 'SVN-HC 1785 GLC Baskerville';
    src: url('../font/SVN-HC-1785GLCBaskerville.eot');
    src: url('../font/SVN-HC-1785GLCBaskerville.eot?#iefix') format('embedded-opentype'),
        url('../font/SVN-HC-1785GLCBaskerville.woff2') format('woff2'),
        url('../font/SVN-HC-1785GLCBaskerville.woff') format('woff'),
        url('../font/SVN-HC-1785GLCBaskerville.ttf') format('truetype'),
        url('../font/SVN-HC-1785GLCBaskerville.svg#SVN-HC-1785GLCBaskerville') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-HC Calvous';
    src: url('../font/SVN-HC-Calvous.eot');
    src: url('../font/SVN-HC-Calvous.eot?#iefix') format('embedded-opentype'),
        url('../font/SVN-HC-Calvous.woff2') format('woff2'),
        url('../font/SVN-HC-Calvous.woff') format('woff'),
        url('../font/SVN-HC-Calvous.ttf') format('truetype'),
        url('../font/SVN-HC-Calvous.svg#SVN-HC-Calvous') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-HC Appareo';
    src: url('../font/SVN-HC-AppareoBlackItalic.eot');
    src: url('../font/SVN-HC-AppareoBlackItalic.eot?#iefix') format('embedded-opentype'),
        url('../font/SVN-HC-AppareoBlackItalic.woff2') format('woff2'),
        url('../font/SVN-HC-AppareoBlackItalic.woff') format('woff'),
        url('../font/SVN-HC-AppareoBlackItalic.ttf') format('truetype'),
        url('../font/SVN-HC-AppareoBlackItalic.svg#SVN-HC-AppareoBlackItalic') format('svg');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

*{
    box-sizing: border-box;
    margin: 0;
    cursor: pointer;
    color: #1A4185;
    font-family:'SVN-HC Calvous' ;

}

.header{
    background-color:#FBBF49;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    box-shadow: 0 2px 10px 1px #FBBF49;
}   
a{
    text-decoration: none;
}
.logo img{
    height: 100%;
    width: 200px;
}
.maincontent{
    width: 100%;
    height: 100vh;
    background-color:aliceblue;
    
}
/* san pham */
.SANPHAM_display{
    display: none;
}
.SANPHAM{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    padding-bottom: 20px;
    align-items: center;
    text-align: center;
}
.chitietSP{
    width: 55%;
    height: 100%;
    background-color: #FBBF49;
}
.main_chitietsanpham{
    background-color: aliceblue;
    height: 100vh;
    margin: 20px;
    border: 2px solid #1A4185;
}
.themSP{
    padding: 20px;
    width: 35%;
    height: 400px;
    background-color: #FBBF49;
    text-align: left;
}
/* don hang */
.DONHANG_display{
    display: none;
}
.DONHANG{
    display: flex;
    justify-content: center;
    text-align: center;
}
.DSDONHANG{
    background-color: #FBBF49;
    width: 90%;
    height: 100vh;
    margin-top: 30px;
}
.main_DSDONHANG{
    width: 95%;
    height: 90%;
    background-color: rgb(81, 128, 170);
    padding: 10px;
    border: black solid 5px;
    margin: auto;
}   